@model TechJobsPersistent.ViewModels.JobDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Job title</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Employer</th>
        <td>@Model.EmployerName</td>
    </tr>
     <tr>
        <th>Skill</th>
        <td>@Model.SkillText</td>
    </tr>

</table>

@*<a asp-controller="Skill" asp-action="AddJob" asp-route-id="@Model.Name">Add additional skills</a>*@
